html {
  background-image: url(https://img.freepik.com/vector-gratis/fondo-mariposa-femenina-borde-rosa-ilustracion-animales-vectoriales_53876-140212.jpg?w=2000);
}

h1 {
  color: black;
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 40px;
   font: 'Times new roman', serif;
  font: 60px;
}
h2 {
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 23px;
  text-align: center;
}
body {
  color: black;
}
a {
  background-color: lightpink;
  border-radius: 20px;
  color: black;
  display: block;
  font-size: 30px;
  margin: 20px auto;
  padding: 10px;
  text-decoration: none;
  width: 250px;
  text-align: center;
}
img {
  padding: 20px;
  text-align: left;
}
li,p {
  font-size: 25px;
  text-align: center;
  font-family: 'Merriweather', serif;
}
table {
  border: 1px solid red;
}
h4 {
  text-align: center;
  color: hotpink;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-size: 40px;
  font-family: 'Merriweather', serif;
}
img {
  display: block;
  margin: 0 auto;
 
}